body {
    margin: 0;
    box-sizing: border-box;
}

.form-outline {
    display: flex;
    gap: 4px;
}

#form1 {
    width: 200px;
}

#clearFilter {
    width: 80px;
    padding: 6px;
    font-size: 13px;
}

#noteIcon {
    width: 40px;
    height: 40px;
}

.container-fluid {
    justify-content: center !important;
    gap: 32px;
    font-weight: bold;
}

main {
    min-height: 75vh;
}

.navbar {
    background: white !important;
}

.form-control {
    background: white;
    resize: none;
    border: none;
}

.confirm {
    color: green;
}

.background {
    min-height: inherit;
    background: linear-gradient(rgba(226, 222, 222, .7), rgba(0,0,0,.6)), url('img/background.jpg');
    background-size: cover;
}

.trash {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px;
    gap: 8px;
    width: 100%;
}

.top-area {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 100%;
}

.note-area {                          
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px;
    gap: 8px;
    width: 100%;
}

.input {
    border: none;
}

.d-none {
    display: none;
}