body {
    margin: 0;
    box-sizing: border-box;
}

#noteIcon {
    width: 40px;
    height: 40px;
}

.container-fluid {
    justify-content: center !important;
    gap: 32px;
    font-weight: bold;
}

main {
    min-height: 100vh;
}

.top-area {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 100%;
}

.user-input {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.note-area {
    display: flex;
    width: 100%;
}